@import url('https://cdn.jsdelivr.net/gh/alerque/libertinus/webfonts/LibertinusSans.css');

body {
    font-family: 'Libertinus Sans', sans-serif;
    background-color: #000;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    scroll-behavior: smooth;
}

header {
    background-color: #cd1799;
    position : fixed;
    
}

